<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Bạn đã đăng kí tài khoản thành công</h2>
        <p>Bạn có thể thực hiện đăng nhập bằng tài khoản của mình.</p>
        <hr />
        <p>Xin cảm ơn!</p>
    </div>
</div>